@use "../../variables" as *;

.tracker {
  margin: 10px 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px lightblue;
  width: 50vw;
  line-height: 2.5;
  background-color: rgba(217, 214, 255, 0.741);
  font-family: $font-primary;
  font-size: 3.6vw;

  .name {
    font-size: 5vw;
    text-align: center;
    font-weight: 800;
  }

  .counter {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 20px 10px 0 10px;
    padding: 10px;
    background-color: rgba(233, 232, 241, 0.518);
    font-size: 18px;
    position: relative;

    .buttons {
      display: flex;
      justify-content: space-around;

      button {
        background-color: transparent;
        border: none;
        font-size: 20px;

        :hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .tracker {
    width: 33vw;
    font-size: 2.2vw;

    .name {
      font-size: 3.4vw;
    }
  }
}

@media screen and (min-width: 700px) {
  .tracker {
    width: 23vw;
    font-size: 1.5vw;

    .name {
      font-size: 2.5vw;
    }
  }
}

@media screen and (min-width: 900px) {
  .tracker {
    width: 18vw;
    font-size: 1.2vw;

    .name {
      font-size: 2vw;
    }
  }
}

@media screen and (min-width: 1150px) {
  .tracker {
    width: 15vw;
    font-size: 1vw;

    .name {
      font-size: 1.6vw;
    }
  }
}

@media screen and (min-width: 1400px) {
  .tracker {
    width: 220px;
  }
}
