@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600&display=swap");

$font-primary: "Nunito Sans", sans-serif;

$color-primary: rgba(52, 201, 159, 0.485);
$color-secondary: rgba(172, 237, 240, 0.439);

$desktop-breakpoint: 62rem;
