* {
  margin: 0;
  padding: 10;
  box-sizing: border-box;
}

.app {
  border: 2px solid black;
  margin: 10px;
  //   height: 97vh;
  padding: 30px;
  background-image: linear-gradient(
    rgba(217, 213, 248, 0.604),
    rgba(52, 193, 201, 0.485)
  );

  .heading {
    text-align: center;
    font-size: 5vh;
  }

  .filters {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .all-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
