@use "./variables" as *;

* {
  margin: 0;
  padding: 10;
  box-sizing: border-box;
}

.app {
  border: 2px solid black;
  margin: 0 10px 0 10px;
  //   height: 97vh;
  padding: 30px;
  background-image: linear-gradient(white, $color-primary);
  font-family: $font-primary;

  .heading {
    text-align: center;
    font-size: 7vh;
  }

  .filters {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3vw;
  }

  .all-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 551px) {
  .filters {
    font-size: 1.6vw;
  }
}

@media screen and (min-width: 1150px) {
  .app {
    min-height: 99vh;

    .filters {
      font-size: 1.3vw;
    }
  }
}
